<!DOCTYPE html>
<html lang="en">
    <!--EJS vars: %title, %content, %user-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/dashboard.css">

    <!-- Bootstrap call -->
    <%- include("partials/bootstrap-call.ejs") %>
    <%- include("partials/fonts-call.ejs") %> 
</head>
<body>
    <%- include('partials/header') %> 
    <!--Welcome Banner-->
    <div id="welcome-banner" class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1>Welcome, <%= user.username %></h1>
                <div>
                    <p><%=content%></p>
                </div>  
            </div>
        </div>
    </div>
    
    <!--Nav Cards-->
    <div class="container d-flex flex-wrap justify-content-center gap-4 mt-5">
        <div class="nav-card">Orders</div>
        <div class="nav-card">Organization</div>
        <div class="nav-card">Account</div>
        <div class="nav-card">Items</div>
    </div>

     

    <!-- Link to your JavaScript files here 
    <script src="/js/main.js"></script> -->
</body>
</html>