 
<!-- This file serves as the default template for a new page. -->

<!DOCTYPE html>
<html lang="en">
    <!--EJS vars: %title, %content, %user-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    <link rel="icon" href="img/stockify-favicon-32x32.png" type="image/x-icon">

    <!-- Bootstrap call -->
    <%- include("partials/bootstrap-call.ejs") %>
    <%- include("partials/fonts-call.ejs") %> 
    
    <!-- CSS call -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title><%= title %></title>
</head>

<body>
    <%- include('partials/header') %> 

    <main class="flex-grow-1">


        
    
    </main>
    
    <%- include('partials/footer') %> 
</body>
</html>