  <!DOCTYPE html>
<html lang="en">
    <!--EJS vars: %title, %content, %user-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    <link rel="icon" href="img/stockify-favicon-32x32.png" type="image/x-icon">

    <!-- Bootstrap call -->
    <%- include("partials/bootstrap-call.ejs") %>
    <%- include("partials/fonts-call.ejs") %> 

    <!-- CSS call -->
    <link rel="stylesheet" href="/css/items.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title><%= title %></title>
</head>

<body>
    <%- include('partials/header') %> 
    <main class="flex-grow-1">
    <div class="container mt-2">

      <!-- Header row (separate) -->
      <div class="d-flex justify-content-between align-items-center">
        <span class="h1 mb-0">Inventory</span>

        <div class="search-container">
          <i class="fa fa-search"></i>
          <input id="searchInput" type="text" placeholder="Search" />
        </div>
      </div>

      <hr class="w-100">


            
      <!-- GRID CONTAINER -->
      <div class="grid-container">

        <!-- LEFT CARD -->
        <div class="card" id="leftCard"> 
          <div id="tableScrollContainer" class="table-responsive">
            <table id="inventoryTable" class="table-hover">
                <thead>
                    <tr>
                    <th>Sku</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th>Price / Unit</th>
                    <th>Quantity</th>
                    </tr>
                </thead>
                <tbody id="itemsList">
                    <!-- Dynamically insert the inventory of the user's org -->
                    <% items.forEach(({sku, name, category, supplier, price, quantity, unit})=> { %>
                    <tr class="inventory-row">
                        <td><%= String(sku).padStart(3, "0") %></td>
                        <td><%= name %></td>
                        <td><%= category %></td>
                        <td><%= supplier %></td>
                        <td>$<%= price %> / <%= unit %></td>
                        <td><%= quantity %></td>
                    </tr>
                    <% }) %>
                    
                </tbody>
                <tfoot>

                    <!-- New Item Form Smart Entry Row -->
                    <tr class="inventory-row d-none" id="smartForm">
                        <td id="newItemSku">
                          <% const newSku = items.length + 1%>
                          <%= String(newSku).padStart(3, "0") %>
                        </td>
                        
                        <td colspan="4">
                          <input type="text" class="form-control" id="newItemPrompt"
                          placeholder="Type something like: '1000 Kumquat from Orchard Distributors at 0.75 per pound.'" required>
                        </td>

                        <td>
                          <button type="button" class="btn" id="smartFillButton">Fill</button>
                        </td>
                    </tr>               


                    <!-- New Item Form Manual Entry Row -->
                    <tr class="inventory-row d-none" id="manualForm">
                      <td id="newItemSku">
                        <%= String(newSku).padStart(3, "0") %>
                      </td>
                      <td>
                          <input type="text" class="form-control" id="newItemName" name="name" placeholder="Name" required>
                      </td>
                      <td>
                          <input type="text" class="form-control" id="newItemCategory" name="name" placeholder="Category" required>
                      </td>
                    
                      <td>
                          <input type="text" class="form-control" id="newItemSupplier" name="name" placeholder="Supplier" required>
                      </td>
                      <td>
                        <div class="price-unit-wrapper">
                          <input type="text" class="form-control" id="newItemPrice" name="price" placeholder="Price" required>
                          <span id="perUnit">/</span>
                          <input type="text" class="form-control" id="newItemUnit" name="unit" placeholder="Unit" required>
                        </div>
                      </td>
                      <td>
                          <input type="text" class="form-control" id="newItemQuantity" name="quantity" placeholder="Quantity" required>
                      </td>
                    </tr>
                    <!-- Submit New Item button -->
                    <tr id="submitNewItemButton" class="d-none">
                      <td colspan="6">
                        <span>Submit +</span>
                      </td>
                    </tr>
                    
                </tfoot>
            </table>
          </div>
          <!-- Inventory Control Panel -->
          <div id="inventoryControlPanel">
            <div class="inventoryControlPanelItem">
                <span id="inventoryControlPanelLabel">Sort by </span>
                <!-- Column Select --> 
                <select name="sortColumn" id="sortColumn" class="form-select">
                  <option value="default">Default</option>
                  <option value="name">Name</option>
                  <option value="sku">Sku</option>
                  <option value="category">Category</option>
                  <option value="price">Price</option>
                  <option value="quantity">Quantity</option>
                </select>
                <!-- Ascending or Descending -->
                <select name="sortOrder" id="sortOrder" class="form-select">
                  <option value="asc">Ascending</option>
                  <option value="desc">Descending</option>
                </select>
                <!-- Sort Submit button -->
                <button type="button" class="btn" id="sortButton">Go</button>
            </div>
            <!-- Response Message Container -->
            <div class="inventoryControlPanelItem responseMessageContainer">
                <span id="responseMessage" class=""></span>
            </div>
            <!-- Add Item Button -->
            <div class="inventoryControlPanelItem addItemPanel">
                <button type="button" class="btn" id="addItemButton">New Item</button>
                <div class="addItemDropdown">
                  <button type="button" class="btn" id="addItemDropdownButton">▼</button>
                  <div class="addItemDropdownContent">
                    <a href="#" id="smartAddOption">Smart Add <i class="fa fa-magic"></i></a>
                    <a href="#" id="manualAddOption">Manual Add</a>
                  </div>
                </div>
                 
            </div>
          </div>
           
          
        </div>
        
      </div>

      <%# Mobile Scroll Display  %>
      <div class="inventory-list">
        <% items.forEach(({sku, name})=> { %>
          <div class="inventory-list-item">
            <div class="inventory-list-data"><%= name%></div>
            <div class="inventory-list-data"><%= sku%></div>
          </div>
        <% }) %>
      </div>
  
    </div>

   <!-- Mobile Pop up details Modal -->
   <div class="modal fade" id="itemModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- HEADER -->
          <div class="modal-header">
            <h5 class="modal-title" id="modalName"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- BODY -->
          <div class="modal-body">
            <p><strong>SKU:</strong> <span id="modalSku"></span></p>
            <p><strong>Category:</strong> <span id="modalCategory"></span></p>
            <p><strong>Supplier:</strong> <span id="modalSupplier"></span></p>
            <p><strong>Price:</strong> <span id="modalPrice"></span>/<span id="modalUnit"></span></p>
            <p><strong>Quantity:</strong> <span id="modalQuantity"></span></p>
          </div>

        </div>
      </div>
    </div>
    </main>

    <%- include('partials/footer') %> 
    
<!-- SCRIPTS -->
<script> const inventory = <%- JSON.stringify(items) %>; </script>
<script src="/js/utils.js"></script>
<script src="/js/add-item.js" defer></script>
<script src="/js/retrieve-items.js" defer></script>
<script src="js/items-client.js" defer></script>
<script src="js/search.js" defer></script>
</body>
</html>