<!DOCTYPE html>
<html lang="en">
    <!--EJS vars: %title, %content, %user-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- Bootstrap call -->
    <%- include("partials/bootstrap-call.ejs") %>
    <%- include("partials/fonts-call.ejs") %> 

    <!-- CSS call -->
    <link rel="stylesheet" href="/css/items.css">

    <title><%= title %></title>
</head>

<body>
    <%- include('partials/header') %> 
    <main class="flex-grow-1">
    <div class="container mt-2">

      <!-- Header row (separate) -->
      <div class="row">
        <div class="col-12">
          <span class="h1">Inventory</span>
          <hr class="w-100">
        </div>
      </div>

            
      <!-- GRID CONTAINER -->
      <div class="grid-container">

        <!-- LEFT CARD -->
        <div class="card">

          <table id="inventoryTable" class="table table-hover">
              <thead>
                  <tr>
                  <th>Sku</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Supplier</th>
                  <th>Price / Unit</th>
                  <th>Quantity</th>
                  </tr>
              </thead>
              <tbody id="itemsList">
                  <!-- Dynamically insert the inventory of the user's org -->
                  <% items.forEach(({sku, name, category, supplier, price, quantity, unit})=> { %>
                  <tr class="inventory-row">
                      <td><%= sku %></td>
                      <td><%= name %></td>
                      <td><%= category %></td>
                      <td><%= supplier %></td>
                      <td>$<%= price %> / <%= unit %></td>
                      <td><%= quantity %></td>
                  </tr>
                  <% }) %>
              </tbody>
              <tfoot>

              </tfoot>
          </table>

          <!-- <div>
              <form id="addItemsForm">
                  <input type="text" class="form-control" placeholder="Sku">
                  <input type="text" class="form-control" placeholder="Name">
                  <input type="text" class="form-control" placeholder="Category">
                  <input type="text" class="form-control" placeholder="Supplier">
                  <input type="text" class="form-control" placeholder="Price">
                  <input type="text" class="form-control" placeholder="Qty">
                  <input type="text" class="form-control" placeholder="Unit">
              </form>
          </div> -->
          
        </div>

          <!-- RIGHT CARD -->
          <% const item = items[0]; %>
            <div class="card item-card" id="currentItem">
              <div class="card-body">
                <h5 class="card-title text-center mb-3" id="name"><%= item.name%></h5>
                <hr class="w-100">
                <div class="d-flex justify-content-between item-card-data">
                  <p class="card-text">sku:</p>
                  <p class="card-text" id="sku"><%= item.sku%></p>
                </div>
                <div class="d-flex justify-content-between item-card-data">
                  <p class="card-text">category: </p>
                  <p class="card-text" id="category"><%= item.category%></p>
                </div>
                <div class="d-flex justify-content-between item-card-data">
                  <p class="card-text">supplier: </p>
                  <p class="card-text" id="supplier"><%= item.supplier%></p>
                </div>
                <div class="d-flex justify-content-between item-card-data">
                  <p class="card-text" id="pricePerUnit">price / <%= item.unit%></p>
                  <p class="card-text" id="price"><%= item.price%></p>
                </div>
                <div class="d-flex justify-content-between item-card-data">
                  <p class="card-text">quantity: </p>
                  <p class="card-text" id="quantity"><%= item.quantity%></p>
                </div>
                </div>
              </div>
        
      </div>

  
      <script> const inventory = <%- JSON.stringify(items) %>; </script>
      <script src="/js/utils.js"></script>
      <script src="/js/inventory-card-scroll.js" defer></script>
    </div>
    </main>
    
    <%- include('partials/footer') %> 
</body>
</html>