<!DOCTYPE html>
<html lang="en">
    <!--EJS vars: %title, %content, %user-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" href="img/stockify-favicon-32x32.png" type="image/x-icon">

   <!-- Bootstrap call -->
    <%- include("partials/bootstrap-call.ejs") %>
    <%- include("partials/fonts-call.ejs") %> 

    <!-- CSS call -->
    <link rel="stylesheet" href="/css/orders.css">
    <link rel="stylesheet" href="/css/header.css">

    <title><%= title %></title>
</head>

<body>
    <%- include('partials/header') %> 

   <main class="flex-grow-1">

    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="/img/Maintenance-Page-Oranges.png" class="img-fluid" style="max-width:100%; height:auto;">
        </div>
      </div>
    </div>
          
    </main>
    
    <%- include('partials/footer') %> 
</body>
</html>