<!DOCTYPE html>
<html lang="en">
    <!--EJS vars: %title, %content, %user-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" href="img/stockify-favicon-32x32.png" type="image/x-icon">
    
    <!-- Bootstrap call -->
    <%- include("partials/bootstrap-call.ejs") %>
    <%- include("partials/fonts-call.ejs") %> 

    <!-- CSS call -->
    <link rel="stylesheet" href="/css/organization.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title><%= title %></title>
</head>

<body>
   <%- include('partials/header') %> 
   <% console.log(`info: ${info}`); %>
   <main class="flex-grow-1">

    <div class="container">
      
        
      <!-- Header row (separate) -->
      <div class="row">
        <div class="col-12">
          <span class="h1">My Org</span>
          <hr class="w-100">
        </div>
   
        <div class="grid-container">

            <!-- Org Details Card -->
            <div class="card grid-card">
                <div class="card-body">
                    <h5 class="card-title">Details</h5>
                    <hr class="w-100">
                    <div class="d-flex flex-column mb-2">
                        <span class="fw-semibold">Org</span>
                        <span class="text-end pe-2 text-muted"><%= info.name %></span>
                    </div>
                    <div class="d-flex flex-column mb-2">
                        <span class="fw-semibold">Org Owner</span>
                        <span class="text-end pe-2 text-muted"><%= info.owner %></span>
                    </div>
                </div>
            </div>

            <!--  Org Members Card-->
            <div class="card grid-card">
                <div class="card-body">
                    <h5 class="card-title">Members</h5>
                    <hr class="w-100">
                    
                    <div  id="memberList">
                        <% members.forEach(({ name, role})=> { %>
                        <div class="d-flex justify-content-between mb-2">
                            <span class="ps-2"><%= name %></span>
                            <span class="text-end pe-5 fw-semibold"><%= role %></span>
                        </div>        
                        <% }) %>
                    </div>
                </div>
            </div>

        </div>
        
    
    </div>
          
    </main>
    
    <%- include('partials/footer') %> 
</body>
</html>