<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
 

  <%- include("partials/bootstrap-call.ejs") %>
 

  <title>Table Test</title>

</head>
<body>

<%- include("partials/header.ejs") %>
  
  <div class="container mb-6">
  <div class="row justify-content-center">
    <table class="table table-bordered">
	<tr>
	  <th>Username</th>
	  <th>email</th>
	  <th>PW_HASH</th>
	</tr>
      <% rows.forEach(function(row) { %>
	<tr>
	  <td><%= row.username %></td>
	  <td><%= row.email %></td>
	  <td><%= row.password_hash %></td>
	</tr>
      <% }); %>
    </table>
  </div>
  </div>

<%- include("partials/footer.ejs") %>
</body>

</html>